<div class="container">

  <form (ngSubmit)="submitQuote()"  #quoteForm='ngForm'>
    <div class="row">

      <div class="form-group">
          <label for="quote" id="quote">Enter your Quote:</label>

          <textarea class="form-control textarea font" id="name" rows="3"   [(ngModel)]="newQuote.name" name="name"></textarea>
    </div>
      </div>
      <div class="row2">

      <div class="form-group">
          <label for="author" id="author">Author:</label>
          <input type="text" class="form-control" id="author"[(ngModel)]="newQuote.author" name="name">
      </div>
      </div>
      <div class="row3">

      <div class="form-group">
          <label for="submitby" id="submitby"class="submitby">Submit By:</label>
          <input type="text" class="form-control" id="submitby" [(ngModel)]="newQuote.submit" name="name">
      </div>
        </div>
       <div class="row4">

      <button type="submit" class="btn btn-success" id="submitbtn">Submit Quote  </button>
       </div>
  </form>
</div>